<!DOCTYPE html>
<html>
  <head>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"
    ></script>
  </head>

  <body style="text-align: center">
    <script type="text/javascript">
      var app = angular.module("cookie", ["ngCookies"]);

      app.controller("CookieController", function ($scope, $window, $cookies) {
        $scope.setCookies = function () {
          $cookies.put($scope.key, $scope.value);
        };

        $scope.getCookies = function () {
          $window.alert($cookies.get($scope.key));
        };

        $scope.clearCookies = function () {
          $cookies.remove($scope.key);
        };
      });
    </script>
    <div ng-app="cookie" ng-controller="CookieController">
      Key:<input type="text" ng-model="key" />
      <br />
      <br />
      Value:<input type="text" ng-model="value" />
      <br />
      <br />
      <input type="button" value="Set Cookie" ng-click="setCookies()" />

      <input type="button" value="Get Cookie" ng-click="getCookies()" />

      <input type="button" value="Clear Cookie" ng-click="clearCookies()" />
    </div>
  </body>
</html>
