<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.6/ng-csv.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-sanitize.min.js"></script>

  <body>
    <div ng-app="app" ng-controller="tableController">
      <form>
      	<label>Enter URL</label>
        <input ng-model="url" type="text"></input>
        <button ng-click="getData()">Get Data</button>
        <button ng-csv="rows" filename="test.csv" csv-header="columns" ng-show="rows.length>0">Export to CSV</button>
      </form><br/>
      
      <table border="1">
        <tr>
          <th ng-repeat="column in columns">{{column}}</th>
        </tr>
        <tr ng-repeat="row in rows">
          <td ng-repeat="column in columns">{{row[column]}}</td>
        </tr>
      </table>
    </div>

    <script>
      var app = angular.module("app", ['ngSanitize', 'ngCsv']);
      app.controller("tableController", function ($scope, $http) {
      	$scope.rows = [];
      	$scope.getData = function(){
        	$http.get($scope.url).then(function(response) {
   	 			$scope.rows = response.data;
                $scope.columns = Object.keys($scope.rows[0]);
  			});
        }
        
      });
    </script>
  </body>
</html>
