<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
  <script src="https://unpkg.com/jspdf-autotable@3.5.22/dist/jspdf.plugin.autotable.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- https://github.com/simonbengtsson/jsPDF-AutoTable -->

  <body>
    <h1>PDF Export (jsPDF-AutoTable)</h1>
    <h4>By Gnanendra Prasad P</h4>
    <div ng-app="app" ng-controller="tableController">
      <form>
        <label>Enter URL</label>
        <input ng-model="url" type="text" />
        <button ng-click="getData()">Get Data</button>
        <button ng-show="rows.length>0" ng-click="getPDF()">Export PDF</button>
	</form>
      <br />

      <table border="1" id="datatable">
        <tr>
          <th ng-repeat="column in columns">{{column}}</th>
        </tr>
        <tr ng-repeat="row in rows">
          <td ng-repeat="column in columns">{{row[column]}}</td>
        </tr>
      </table>
    </div>

    <script>
      var app = angular.module("app", []);
      app.controller("tableController", function ($scope, $http) {
        $scope.rows = [];
        $scope.getData = function () {
          $http.get($scope.url).then(function (response) {
            $scope.rows = response.data;
            $scope.columns = Object.keys($scope.rows[0]);
          });
        };
        
        //HTML Table to PDF
        $scope.getPDF = function(){
          var doc = new jsPDF();
          doc.autoTable({ html: '#datatable' })
          doc.save('table.pdf')
        }
      });
    </script>
  </body>
</html>
